.board{
    width: 400px;
    height: 400px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.board_row{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.board_col{
    height: 100%;
    width: 40px;
    background-color: dodgerblue;
}

.placed{
    background-color: crimson;
}