.board{
    width: 400px;
    height: 400px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.board-row{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.board-col{
    height: 100%;
    width: 40px;
    background-color: dodgerblue;
}

.placed{
    background-color: crimson;
}


.tray {
    background-color: darkgrey;
    height: 200px;
    width: 450px;
  }

/* temp */
.tray {
    display: flex;
    flex-direction: row;
}

.tray-block-area {
    text-align: center;
    width: 134px;
    height: 134px;
    margin-top: 30px;
    margin-left: 12px;
    background-color: #555555;
}

.block-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tray-block-row{
    display: flex;
    flex-direction: row;
    height: 25px;
}

.tray-block{
    width: 25px;
    background-color: skyblue;
}